.heading{
    text-align: center;
}
 .img{
    justify-content:center;
    display: grid;
    grid-template-columns:repeat(3, auto); 
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
   
}

.image{
    height:30vh;
    width:30vh;
} 